body {
	background: blanchedalmond;
}
#test{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	margin:10px;
	border:solid 2px black;

}
.movieDot{
	margin:10px;
	background:cornflowerblue;
	width:280px;
}

#editDiv{
	border:solid 1px black;
	width:40rem;
}

#newRating{
	width:100px;
}
